# Dependency directories
node_modules/
jspm_packages/

# Environments (Posisikan sejajar di baris baru)
.env
.env.local
.env.development.local

# Logs
logs
*.log
.vercel

# Folder Cadangan Astro
cadangan-astro/
# Local Netlify folder
.netlify
